<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Website quan ly nhan vien</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>

</head>


<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container" style="">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand " href="#" s>
            Ứng dụng Quản lý Nhan viên


        </a>

    </nav>

    <h2> BÙi Gia Khải - 2011710374</h2>
    <div class="about">
        <img src="../../static/image/pic1_2.jpg" height="517" width="1110"/>

    </div>



</div>
<th:block th:replace="~{layout :: footer}"></th:block>
</body>
</html>